@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: normal;
  src: url('./fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}