.header {
  background: #1C1C21;
  font-family: 'JetBrains Mono', Arial, sans-serif;
}

.headerContainer {
  max-width: 1380px;
  min-height: 88px;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.navigation {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 109px;
  padding: 0;
}

.navigationItem {
  cursor: pointer;
  width: 197px;
  height: 56px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigationItem:first-of-type {
  width: 178px;
  margin-right: 7px;
}

.ownCabinet {
  cursor: pointer;
  width: 207px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 288px;
}

.activeText {
  font-size: 16px;
  line-height: 24px;
  margin-left: 8px;
  color: #F2F2F3;
}

.inactiveText {
  composes: activeText;
  color: #8585AD;
}